%header
  %h1 
    %img{:src=>"images/logo.png"}
.container
  %ul#tweets
    - @tweets.each do | tweet |
      %li.meme
        %figure
          /meme image
          %img{:src=>"#{asset tweet}.jpg"}
          %figcaption.social
            %ul
              %li
                %a{:href=>"TheLinkThing"} Reddit
              %li
                %a{:href=>"TWEETLINK"} The Original Tweet
              %li
                %a{:href=>"PERMALINK"} Link to this
%footer 
  .copyright &copy; 2013 Barcamp NOLA
