!!!
%html
  %head
    %title Bar Camp NOLA Ruby

    / %link(rel="icon" href="/favicon.png" type="image/x-icon")
    
    / %meta(property="og:title" content="")
    / %meta(property="og:description" content="")
    / %meta(property="og:type" content="website")
    / %meta(property="og:image" content="")
    / %meta(property="og:site_name" content="")
    / %meta(property="og:url" content="")
    
    %script(src="/js/jquery.min.js")
    %script(src="http://js.pusher.com/2.1/pusher.min.js")
    %script(src="/app.js")

    %script(src="//use.typekit.net/fqy5zig.js")
    :javascript
        try{Typekit.load();}catch(e){}

    %link(href="/app.css" rel="stylesheet")
  %body
    = yield